:root {
  --rose-50: hsl(330, 100%, 98%);
  --rose-800: hsl(332, 51%, 32%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);
  --white: hsl(0, 0%, 100%);

  --main-font: 'Outfit', Arial, sans-serif;
  --accent-font: 'Young Serif', serif;

  --font-size-base: 16px;
  --line-height-100: 1;
  --line-height-150: 1.5;

  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;

  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-1600: 128px;
}